<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Result For {{ search_keyword }}</title>
      <style>
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffcd00;
  color: #000;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  background-color: #FFFF99;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

th:last-child, td:last-child {
  border-right: none;
}

td:hover {
  background-color: #f5f5f5;
}
    </style>
</head>
<body class="yellowpages">
    <form action="/result" method="post">

<br><br>
        <label for="search_keyword"></label>
        <input type="text" name="search_keyword" id="search_keyword">
        <input type="submit" value="Search">
        </form>
<br><br>
 <h1>Search Results for {{ search_keyword }}</h1>
<br><br>
   <table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Address</th>
            <th>About</th>
            <th>Phone Number</th>
            <th>Website</th>
            <th>Email Link</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        {% for dict in list_of_results %}
            <tr>
                <td>{{ dict["company_title"] }}</td>
                <td>{{ dict["company_address"] }}</td>
                <td>{{ dict["company_about"] }}</td>
                <td>{{ dict["company_phone_number"] }}</td>
                <td>{{ dict["company_website"] }}</td>
                <td>{{ dict["company_email_link"] }}</td>
                <td>{{ dict["company_rating"] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
   <form action="/" method="post">

<br><br>
        <input type="submit" value="Home">
        </form>
<br><br>
</body>
</html>